.tienda-container {
  min-height: 100vh;
  background-color: #f4f6f8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 4rem;
}

/*heaader*/
.tienda-header {
  background-color: #0056b3;
  color: white;
  padding: 2rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 3rem;
}

.header-content h1 {
  margin: 0;
  font-size: 2rem;
}

.header-content p {
  margin: 5px 0 0;
  opacity: 0.9;
}

.user-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn-logout {
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-logout:hover {
  background: rgba(255,255,255,0.3);
}

/*catalgo*/
.catalogo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2.5rem;
  padding: 0 5%;
  max-width: 1400px;
  margin: 0 auto;
}

/* seccion visual para los productos */
.producto-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
}

.producto-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.producto-img-box {
  width: 100%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  border-bottom: 4px solid #0056b3;
  background-color: #eee;
}

.producto-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.producto-card:hover .producto-img-box img {
  transform: scale(1.1);
}

.producto-info {
  padding: 1.5rem 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.producto-nombre {
  font-size: 1.4rem;
  color: #222;
  margin: 0 0 0.5rem 0;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.producto-tipo {
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.producto-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.producto-precio {
  color: black;
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-comprar {
  background-color: transparent;
  color: #0056b3;
  border: 2px solid #0056b3;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
  width: 100%;
}

.btn-comprar:hover {
  background-color: #0056b3;
  color: white;
}

.loading-msg {
  text-align: center;
  font-size: 1.5rem;
  color: #666;
  margin-top: 3rem;
}